modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

hidden = [".build", ".config", "node_modules", ".next"]

[workflows]
runButton = "Start"

[[workflows.workflow]]
name = "Start"
author = "agent"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run build && npm run start"
waitForPort = 3000

[[workflows.workflow]]
name = "Dev"
author = "agent"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "next dev -H 0.0.0.0 -p 3000"
waitForPort = 3000

[deployment]
build = ["sh", "-c", "npm run build"]
run = ["sh", "-c", "npm run start"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 3002
externalPort = 3002

[agent]
expertMode = true
